{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet"  href="{% static 'contact.css' %}">
</head>
<body>
    
    <section class="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <div class="contact-wrapper">
                <div class="contact-form">
                    <h3>Send us a message</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Your email">
                        </div>
                        <div class="form-group">
                            <textarea name="message" placeholder="Your Message"></textarea>
                        </div>
                        <button type="submit"> Send Message</a></button>
                    </form>
                </div>
                <div class="contact-info">
                    <h3>Contact information</h3>
                    <p><i class="fas fa-phone"></i> +234 9163721850</p>
                    <p><i class="fas fa-envelope"></i> Yakoyooluwaseyi@gmail.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> 26 metropolitan street isolo</p>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>